{% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
    <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
  {% else %}
    <input type="hidden" name="contact[tags]" value="newsletter">
    <div class="flex">
      <input
        type="email"
        name="contact[email]"
        id="Email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
        autocorrect="off"
        autocapitalize="off"
      >
      <button type="submit" name="commit" id="Subscribe" class="bg-primary uppercase px-4 text-lg font-extrabold">
        <span>{{ 'general.newsletter_form.submit' | t }}</span>
      </button>
    </div>
  {% endif %}
{% endform %}
