<div class="container py-12 md:py-16 md:px-32">
  <div class="text-center mb-8 md:mb-10">
    <span class="uppercase text-base">{{ 'customer.account.welcome' | t }}</span>
    <h2 class="mt-2 text-xl md:text-3xl font-black">
      <span>{{ customer.first_name }}</span>
      <span class="text-primary">{{ customer.last_name }}</span>
    </h2>
  </div>

  <div class="p-8 border border-solid md:flex md:justify-between">
    <div class="md:w-1/2">
      <h6 class="text-lg font-semibold capitalize">{{ 'customer.account.my_account' | t }}</h6>
      <span class="block mt-6 md:mt-8">
        <a href="{{ routes.account_addresses_url }}" class="block text-base underline">
          {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
        </a>
        <a href="{{ routes.account_logout_url }}" class="block  text-base underline">
          {{ 'customer.log_out' | t }}
        </a>
      </span>
    </div>
    <div class="pt-6 md:pt-0 mt-6 md:mt-0 border-t border-solid md:border-t md:border-none md:w-1/2">
      <h6 class="text-lg font-semibold capitalize">{{ 'customer.account.details' | t }}</h6>
      <div class="mt-6 md:mt-8">
        {{ customer.default_address | format_address }}
        <span class="block">{{ customer.email }}</span>
      </div>
    </div>
  </div>

  <div class="mt-7 md:mt-9">
    <h6 class="text-lg font-semibold capitalize mb-7 md:mb-9">{{ 'customer.orders.title' | t }}</h6>
    {% paginate customer.orders by 100 %}
      {%- if customer.orders.size > 0 -%}
        <table role="table" class="order-history p-8 border border-solid">
          <thead role="rowgroup">
            <tr role="row">
              <th id="ColumnOrder" scope="col" role="columnheader" class="p-2 text-left border border-solid">{{ 'customer.orders.order_number' | t }}</th>
              <th id="ColumnDate" scope="col" role="columnheader" class="p-2 text-left border border-solid">{{ 'customer.orders.date' | t }}</th>
              <th id="ColumnPayment" scope="col" role="columnheader" class="p-2 text-left border border-solid">{{ 'customer.orders.payment_status' | t }}</th>
              <th id="ColumnFulfillment" scope="col" role="columnheader" class="p-2 text-left border border-solid">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th id="ColumnTotal" scope="col" role="columnheader" class="p-2 text-left border border-solid">{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            {%- for order in customer.orders -%}
              <tr role="row">
                <td class="p-2 text-left border border-solid"
                  id="RowOrder"
                  role="cell"
                  headers="ColumnOrder"
                  data-label="{{ 'customer.orders.order_number' | t }}"
                >
                  <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                    {{ order.name }}
                  </a>
                </td>
                <td class="p-2 text-left border border-solid" headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                  {{ order.created_at | time_tag: format: 'date' }}
                </td>
                <td class="p-2 text-left border border-solid" headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                  {{ order.financial_status_label }}
                </td>
                <td class="p-2 text-left border border-solid" headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                  {{ order.fulfillment_status_label }}
                </td>
                <td class="p-2 text-left border border-solid" headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                  {{ order.total_price | money_with_currency }}</td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>
      {%- else -%}
        <p class="text-red-600 p-8 border border-solid">{{ 'customer.orders.none' | t }}</p>
      {%- endif -%}

      {%- if paginate.pages > 1 -%}
        {%- if paginate.parts.size > 0 -%}
            <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list">
              {%- if paginate.previous -%}
                <li>
                  <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}"><</a>
                </li>
              {%- endif -%}

              {%- for part in paginate.parts -%}
                <li>
                  {%- if part.is_link -%}
                    <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                  {%- else -%}
                    {%- if part.title == paginate.current_page -%}
                      <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                    {%- else -%}
                      <span>{{ part.title }}</span>
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- endfor -%}

              {%- if paginate.next -%}
                <li>
                  <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >></a>
                </li>
              {%- endif -%}
              </ul>
            </nav>
        {%- endif -%}
      {%- endif -%}
    {% endpaginate %}
  </div>
</div>
