{% if template contains 'customers' %}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ "customer_area.js" | shopify_asset_url | script_tag }}
{% endif %}

{%- paginate customer.addresses by 5 -%}
<div class="container py-12 md:pt-20 md:pb-24" data-customer-addresses>
  <h2 class="text-xl md:text-3xl font-black capitalize text-center mb-8 md:mb-10">{{ 'customer.addresses.title' | t }}
  </h2>
  <a href="{{ routes.account_url }}" class="underline">
    {{ 'customer.account.return' | t }}
  </a>

  <ul role="list">
    {%- for address in customer.addresses -%}
    <li class="p-8 border border-solid mt-11 md:flex md:flex-row md:justify-between" data-address>
      <div class="mb-4">
        {%- if address == customer.default_address -%}
        <h3 class="text-lg font-semibold">{{ 'customer.addresses.default' | t }}</h3>
        {%- endif -%}
        {{ address | format_address }}
      </div>
      <div>
        <button class="border border-solid py-1 px-4" type="button" id="EditFormButton_{{ address.id }}"
          aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
          aria-controls="EditAddress_{{ address.id }}" aria-expanded="false" data-address-id="{{ address.id }}">
          {{ 'customer.addresses.edit' | t }}
        </button>
        <button class="border border-solid py-1 px-4" type="button"
          aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}" data-target="{{ address.url }}"
          data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
          {{ 'customer.addresses.delete' | t }}
        </button>
      </div>
    </li>
    <div class="mt-7 md:mt-9 hidden" id="EditAddress_{{ address.id }}">
      <h3 class="text-lg font-semibold">{{ 'customer.addresses.edit_address' | t }}</h3>
      {%- form 'customer_address', address -%}
      <div class="md:flex md:flex-row md:flex-wrap">
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]"
            value="{{ form.first_name }}" autocomplete="given-name"
            placeholder="{{ 'customer.addresses.first_name' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}"
            autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}"
            autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}"
            autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}"
            autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}"
            autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <div class="select">
            <select id="AddressCountry_{{ form.id }}" name="address[country]" data-address-country-select
              data-default="{{ form.country }}" data-form-id="{{ form.id }}" autocomplete="country">
              {{ all_country_option_tags }}
            </select>
          </div>
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4" id="AddressProvinceContainer_{{ form.id }}" style="display: none;">
          <div class="select">
            <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"
              autocomplete="address-level1">
            </select>
          </div>
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}"
            autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}"
            autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
        </div>
      </div>
      <div class="mt-8 md:mt-10">
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_{{ form.id }}">
          {{ 'customer.addresses.set_default' | t }}
        </label>
      </div>
      <div class="mt-8 md:mt-10">
        <button class="underline">{{ 'customer.addresses.update' | t }}</button>
        <button class="underline pl-8" type="reset" aria-controls="EditAddress_{{ address.id }}">{{
          'customer.addresses.cancel' | t }}</button>
      </div>
      {%- endform -%}
    </div>
    {%- endfor -%}
  </ul>

  <div data-address>
    <div class="p-8 mt-7 md:mt-11 border border-solid ">      
      <button class="w-full p-8 flex flex-col justify-center items-center cursor-pointer" type="button" aria-expanded="false" aria-controls="AddAddress">
        {% render 'icon-plus' %}
        <span class="block mt-3">{{ 'customer.addresses.add_new' | t }}</span>
      </button>    
    </div>
    <div class="mt-10 hidden" id="AddAddress">
      <h3 class="text-lg font-semibold" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h3>
      {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
      <div class="md:flex md:flex-row md:flex-wrap">
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}"
            autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}"
            autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}"
            autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}"
            autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}"
            autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}"
            autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <div class="select">
            <select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}"
              autocomplete="country">
              {{ all_country_option_tags }}
            </select>
          </div>
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4" id="AddressProvinceContainerNew" style="display: none">
          <div class="select">
            <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}"
              autocomplete="address-level1">
            </select>
          </div>
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters"
            autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
        </div>
        <div class="field mt-3 md:w-custom1 md:mr-4">
          <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel"
            placeholder="{{ 'customer.addresses.phone' | t }}">
        </div>
      </div>

      <div class="mt-8 md:mt-10">
        {{ form.set_as_default_checkbox }}
        <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
      </div>
      <div class="mt-8 md:mt-10">
        <button class="underline">{{ 'customer.addresses.add' | t }}</button>
        <button class="underline pl-8" type="reset" aria-controls="AddAddress">{{ 'customer.addresses.cancel' | t }}</button>
      </div>
      {%- endform -%}
    </div>
  </div>

  {%- if paginate.pages > 1 -%}
  {%- if paginate.parts.size > 0 -%}
  <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
    <ul role="list">
      {%- if paginate.previous -%}
      <li>
        <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
              fill="currentColor">
          </svg>
        </a>
      </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
      <li>
        {%- if part.is_link -%}
        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title
          }}</a>
        {%- else -%}
        {%- if part.title == paginate.current_page -%}
        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title
          }}</span>
        {%- else -%}
        <span>{{ part.title }}</span>
        {%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}

      {%- if paginate.next -%}
      <li>
        <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z"
              fill="currentColor">
          </svg>
        </a>
      </li>
      {%- endif -%}
    </ul>
  </nav>
  {%- endif -%}
  {%- endif -%}
</div>
{%- endpaginate -%}

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>